<div class="card mat-card" id="first-card">
    <div id="profile-background">
       <img 
       src="C:\Users\crist\OneDrive\Escritorio\Tareas WebStackJr\modulo II\Maqueteado\Maqueteado-\banner.jpg"
       />
    </div>
    <div id="info" style="padding: 16px;"></div>
    <div id="info-img">
       <div id="info-img">
          <img
          class="profile-image"
           src="C:\Users\crist\OneDrive\Escritorio\Tareas WebStackJr\modulo II\Maqueteado\Maqueteado-\jhon.jpg"
          />
          <div class="btn-edit">
              <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
          </div>
       </div>
    <div id="info-data">
       <div>
     <h1>Cristian Soplan</h1>
     <div id="info-company"> Programador WebStackJr </div>
             <div id="info-contact">
                   <span> Charata-Chaco(Argentina) </span>
                    <span> <a href="#"> Informacion de contacto </a></span>
              </div>
         </div>
         <form name="login" action="index_submit" method="get" accept-charset="utf-8">
            <ul>
              <li><label for="usermail">Correo electrónico</label>
              <input type="email" name="usermail" placeholder="tunombre@correoelectrónico.com" required></li>
              <li><label for="password">Contraseña</label>
              <input type="password" name="password" placeholder="contraseña" required></li>
              <li>
              <input type="submit" value="Login"></li>
            </ul>
          </form>
          </div>