<div class="card mat-card">
    <div class="card-titles"> 
      <h2> Experiencia </h2>        
       </div>
    <div class="contenedor-imagenes">
      <img src="C:\Users\crist\OneDrive\Escritorio\Tareas WebStackJr\modulo II\Maqueteado\Maqueteado-\imG.a.png">
      <img src="C:\Users\crist\OneDrive\Escritorio\Tareas WebStackJr\modulo II\Maqueteado\Maqueteado-\logos.png"
      width="300" height="300">
      <img src="C:\Users\crist\OneDrive\Escritorio\Tareas WebStackJr\modulo II\Maqueteado\Maqueteado-\spring.jpg"
      width="300" height="300">
    </div>
    </div>